.tabel{
  background-color: rgb(255, 255, 255);
  padding: 33px;
  border-radius: 10px;
  /* box-shadow: 6px 6px 6px 6px rgb(61, 60, 60); */
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.justify-content-center{
display: flex;
justify-content: center;
}

.tabel:hover {
 transform: translateY(-12px);
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tabel a img{
  /* margin-top: 20px; */
  height: 200px;
  /* bottom: 100px; */
}

.blur{
filter: blur(2px);
}

.kamera{
position: relative;
bottom: 100px;
/* right: 70px; */
color: rgba(66, 65, 65, 0.815);
/* z-index: 3px; */
}

.kartu{
  padding: 50px;
  flex-wrap: wrap;
  display: flex;    
  justify-content: center;

  
}

.tabel .jadwal{
  flex-wrap: wrap;
  /* inline-size: 250px; */
  /* padding: 10px 20px; */
  margin-top: 20px;
  background-color: rgba(247, 247, 247);

}

.fh5co-text .judul{
  /* float: left; */
  font-size: 30px;
  display: flex;    
  justify-content: center;
}

.fh5co-text .tag{
  float: right;
}
.fh5co-text .konten{
  font-size: 15px;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #4f98ca;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}