@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

body {
	background: #f2f8f9;
}


.tabel {
	width: 100%;
	max-width: 1142px;
	margin: 0 auto;
	padding: 0 20px;
}

@media screen and (max-width: 767px) {
	.content {
		padding: 0 20px;
	}
}

.btn-update-table {
	background: #8862e0;
	color: #fff;
	display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.56rem 1.375rem;
	line-height: 1;
	text-decoration: none;
	border-radius: 0.1875rem;
	margin: 30px;
}


.title {
	font-size: 15px;
	text-transform: uppercase;
}

.title::after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    width: 15px;
    margin: 0 auto;
    border-bottom: 2px dotted #000;
}

.isi-title {
	font-size: 14px;
	color: #5f6769;
}

.tabel ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.tabel ul a {
	display: block;
	background: #fff;
	border: 1px solid #bbbbbb;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	color: #333;
	height: 110px;
	box-shadow: 8px 8px 9px -4px rgba(0, 0, 0, 0.1);
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
	border-radius: 5px;
	padding-bottom: 50px;
}

.tabel ul a:hover {
	box-shadow: none;
}


@media print {
	.tabel ul a {
		border: 4px solid #000;
	}
}

@media screen and (max-width: 767px) {
	.tabel ul a {
		font-size: 1em;
	}
}

.tabel ul a span {
	top: 50%;
	margin-top: -0.7em;
	display: block;
}


.table-body>li>a {
	width: 25%;
	margin: 0 auto 0px auto;
	margin-top: 18px;
	padding-bottom: 20px;
	z-index: 1;
}

@media screen and (max-width: 767px) {
	.table-body>li>a {
		width: 100%;
	}
}


.table-body>li>a>span {
	padding-bottom: 15px;
}

.table-body li .garis::after {
	background-color: blue;
	content: "";
	display: block;
	width: 0;
	height: 330px;
	border-left: 4px solid #a7a7a7 !important;
	left: 50%;
	top: -270px;
	position: relative;
	z-index: 0;
}

@media print {
	.garis::after {
		border-left: 4px solid #a7a7a7;
	}
}

.garis,
.table-body-bottom {
	position: absolute;
	width: 100%;
}



.table-body-bottom>li:first-child {
	width: 18.59894921190893%;
	height: 64px;
	margin: 0 auto 22px auto;
	padding-top: 25px;
	z-index: 1;
}

@media print {
	.table-body-bottom>li:first-child {
		border-bottom: 4px solid #000;
	}
}

.table-body-bottom>li:first-child {
	float: left;
	left: 45%;
}

@media print {
	.table-body-bottom>li:first-child {
		border-right: 4px solid black;
	}
}

.table-body-bottom>li:first-child a {
	width: 100%;
}


@media screen and (max-width: 767px) {
	.table-body-bottom>li:first-child {
		width: 40%;
	}
	.table-body-bottom>li:first-child {
		left: 10%;
		margin-left: 2px;
	}
}

.table-body-bottom>li:first-child a {
	right: 25px;
}

.list-table:first-child,
.table-body-bottom li:nth-child(2) {
	margin-left: 0;
	clear: left;
}

.table-body-bottom:after {
	content: "";
	display: block;
	position: absolute;
	width: 80%;
	height: 26px;
	border-top: 4px solid #a7a7a7;
	border-right: 4px solid #a7a7a7;
	border-left: 4px solid #a7a7a7;
	margin: 0 auto;
	top: 60px;
	left: 7.1%;
}

@media print {
	.table-body-bottom:after {
		border-top: 4px solid #000;
		border-right: 4px solid #000;
		border-left: 4px solid #000;
	}
}

@media screen and (max-width: 767px) {
	.table-body-bottom:after {
		border-right: none;
		left: 0;
		width: 49.8%;
	}
}

@media screen and (min-width: 768px) {
	.list-table:first-child:before,
	.list-table:last-child:before {
		border: none;
	}
}

.list-table a span {
	padding-bottom: 15px;
	
}

.list-table:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 22px;
	border-left: 4px solid #a7a7a7;
	z-index: 1;
	top: -22px;
	left: 50%;
	margin-left: -4px;
}

@media print {
	.list-table:before {
		border-left: 4px solid black;
	}
}

.list-table {
	border-left: 4px solid #a7a7a7;
	width: 14.59894921190893%;
	float: left;
	margin-left: 1.751313485113835%;
	margin-bottom: 60px;
}

@media print {
	.list-table {
		border-left: 4px solid #000;
	}
}

@media screen and (max-width: 767px) {
	.list-table {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.list-table:before {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 60px;
		border-left: 4px solid #a7a7a7;
		z-index: 1;
		top: -60px;
		left: 0%;
		margin-left: -4px;
	}
	.list-table:nth-child(2):before {
		display: none;
	}
}

.list-table>a {
	margin: 0 0 -26px -4px;
	z-index: 1;
}

.list-table>.tabel ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.list-table li {
	padding-left: 25px;
	border-bottom: 4px solid #a7a7a7;
	height: 120px;
}

@media print {
	.list-table li {
		border-bottom: 4px solid #000;
	}
}

.list-table li a {
	background: #fff;
	top: 50px;
	position: absolute;
	z-index: 1;
	width: 90%;
	height: 100px;
	vertical-align: middle;
	padding-bottom: 60px;
	right: -1px;
}

@media screen and (max-width: 850px) {
	.list-table li {
		height: 150px;
	}
	.list-table li a {
		height: 140px;
	}
}